<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title text-muted">
          <%= post.username %>
          <small>- <%= time_ago_in_words post.created_at %> ago</small>
        </h5>
        <div class="card-text lead mb-2"><%= post.body %></div>
        <%= link_to "#", class: "card-link", data: { reflex: "click->PostsReflex#repost", id: post.id } do %>
            Repost (<%= tag.span post.repost_count, id: "post-#{post.id}-reposts" %>) 
        <% end %>
        <%= link_to "#", class: "card-link", data: { reflex: "click->PostsReflex#like", id: post.id } do %>
            Like (<%= tag.span post.likes_count, id: "post-#{post.id}-likes" %>) 
        <%= button_tag "Seleccionar contrato fijo", class: "white-turquoise-button w-3/5 text-sm inline-block hover:shadow-lg transition duration-300 ease-in-out", value: "tf" ,id: "tf",
                      data: { reflex: "click->ExampleReflex#get_post",
                              'reflex-root': '#main_contract_type' }%>
        <% end %>
    </div>
    <div id="main_contract_type"><%= @new_var %></div>
    <div data-controller= "posts">
        <input data-posts-target="comment" type="text">
        <button data-action="click->posts#search">
            Comment
        </button>

        <span data-posts-target="output">
        <div data-posts-target="list" class="bg-cheep-100 text-cheep-200">
            <%= @all_posts %>
            <%-if @all_posts.present? %>
                <%- @all_posts.each do |post| %>
                    <p>BODY: <%= post.body %></p> 
                <%- end %>
            <%- end %>
        </div>
    </div>
</div>